@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .navbar {
    @apply text-white transition-all hover:text-green-prim py-2
  }

  .buttonCategories {
    @apply bg-black transition-all hover:text-green-prim text-white w-full h-9 text-base py-2
  }

  .product {
    @apply col-span-1 border border-[#00000020] rounded-lg flex flex-col justify-between 
  }

  .buttonProducts {
    @apply bg-purple-prim py-2 px-4 text-white border mt-[10px] transition-all hover:text-purple-prim hover:bg-transparent hover:border-purple-prim rounded-md
  }
  
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 9px;
    height: 15px;
  }

  .scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #00000070;
    border-radius: 100vh;
    border: 1px solid #ffffff;
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: #00000090;
  }
}